SOURCE_PLUGINS=(
    ghcr.io/photo-channel/plugin-source-folder:master#/home/nsg/Pictures/Dump-Pixel4-jan2021/Pictures/Spelkväll/
)

PROCESS_PLUGINS=(
    ghcr.io/photo-channel/plugin-process-cat:master
    ghcr.io/photo-channel/plugin-process-wc:master
)
